.container {
    display: block;
    margin: 8px;
    font-size: 14.0pt;
    font-family: Arial;
}


.title {
    font-size: 24.0pt;
    font-weight: bold;
}

.info {
    font-size: 12.0pt;
}


.yearTitle {
    margin-top: 1.5em;
    margin-bottom: 1em;

    font-size: 13.5pt;
    font-weight: bold;
}

.avatar {
    width: 189px;
    height: 251px;
    float: left;
    vertical-align: top;
    margin-left: 12px;
    margin-right: 12px;
}


.hrLine {
    height: 3px;
    width: 100%;
    border-color: grey;
    border: 0;
    background: linear-gradient(to right, cadetblue, transparent, transparent);
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
}

.thinHrLine {
    margin-top: 12px;
    margin-bottom: 24px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;

}

.grantList {
    margin-left: -10px;

}

.grantList li {
    margin: 0 20px 20px 0;
    padding-left: 10px;
    vertical-align: top;
    line-height: 1.2
}


.paperList {
    font-size: 13.5pt;
    margin-left: -10px;
}

.paperList li {
    margin: 0 8px 8px 0;
    padding-left: 10px;
    vertical-align: top;
}