@import "hyperlink.css";
@import "navigation.css";
@import "quotation.css";
@import "separateline.css";
div.main{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
div.left{
    position: fixed;
    width: 256px;
    margin-top: 32px;
    margin-left: 0;
    /* text-align: center; */
    float: left;
}
div.right{
    position: absolute;
    margin-left: 256px;
    margin-top: 48px;
    width: 704px;
}
img.myphoto{
    height: 128px;
    margin-top: 32px;
    margin-bottom: 4px;

}
p.bio{
    text-align: left;
    text-indent: 2em;
    font-size: small;
    /* word-wrap: break-word; */
    /* hyphens: auto;
    word-break: break-all; */
    overflow-wrap: break-word;
}
a.icon:link{
    color: black;
    text-decoration: none;
}
a.icon:visited{
    color: black;
    text-decoration: none;
}
a.icon:visited{
    color: black;
    text-decoration: none;
}
a.icon:active{
    color: black;
    text-decoration: none;
}